html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

.container {
    overflow: hidden;
}

.floor {
    position: relative;
    background-size: 100%;
}

.f1 {
    background-image: url("G1.jpg");
}

.f2 {
    background-image: url("G2.jpg");
}

.f3 {
    background-image: url("G3.jpg");
}

.room {
    position: absolute;
    opacity: 0.5;
    background-color: red;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
}
